.logo-container {
    justify-content: space-between;
    text-align: center;
    display: flex;
  }
  
  .logo {
    width: 20%;
    padding-left: 150px;
  }
  
  .logo-head {
    width: 40%;
    height: 400px;
    margin: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  .logo-text {
    width: 50%;
    height: 300px;
    font-size: 30px;
    padding: 90px;
  }
  
  .logo-container-title {
    font-size: 40px;
  }
  
  
  .description {
    text-align: center;
    display: flex;
    padding-bottom: 20px;
  }
  
 
  .description-title {
    font-size: 50px;
    width: 50%;
    text-align: center;
    font-weight: 900;
    height: 100px;
    padding-top: 90px;
  }
  

  .description-text {
    font-size: 26px;
    width: 50%;
  }
  
 
  .typo {
    display: flex;
    justify-content: space-between;
  }
  
  .typo-text {
    width: 52%;
    height: 400px;
    border-radius: 5px;
    padding-left: 45px;
    font-size: 30px;
  }
  
  .typo-title {
    font-weight: 900;
    font-size: 80px;
    text-align: center;
    padding-right: 80px;
  }
  
 
  @media screen and (max-width: 768px) {
    .logo-container {
      flex-direction: column;
      border:2px solid black;
    }
  
    .logo-head {
      width: 85%;
      height:60px;
    }
  .logo-container-title{
    font-size: 30px;
  }
    .logo-text {
      width: 54%; 
      height: 120px;
      font-size: 14px;
      padding-top: 20px;
      
    }
 .description{
  display:inline;
 }
    .description-title {
      font-size: 30px;
     padding:40px;
      
      width:79%;
      text-align: center;
     
    }
  
    .description-text {
      font-size: 14px;
      width:99%;
    }
  
    .typo{
      display:flex;
    }
  
    .typo-text {
      width: 50%; 
      height: 600px;
      padding-left:8px;
      text-align: center; 
      font-size:14px;
      border:2px solid green;
    }
  
    .typo-title {
      font-size: 30px;
  padding-top:90px;
  padding-left:20px;
      border:2px solid red;
      width:20%;
      display:inline;
      
    }
  }