.app-container {
  position: relative;
  background-image: url('../../assets/lens.jpg'); 
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.area-content {
  display: flex;
  flex-direction: column; /* Stack items vertically by default */
  text-align: center;
  padding: 10rem;
  align-items: center; /* Center align items horizontally */
}

.text-title {
  font-size: 80px;
  color: white;
}

.list-name {
  font-size: 70px;
  list-style: none;
  font-weight: 600;
}

.btn-early {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #0d0d0d; 
  border: 2px solid #9aa39b;
  border-radius: 10px;
  cursor: pointer;
}

.text-container {
  display: flex; 
  flex-wrap: wrap; /* Allow flex items to wrap */
  justify-content: center; /* Center align items horizontally */
}

.main-text {
  flex: 1; 
  padding-right: 20px; 
  text-align: center;
  padding-top: 200px;
}

.side-text {
  flex: 1; 
  padding-top: 80px;
  font-size: 30px;
  font-weight: 400;
}

.side-text ul {
  padding: 0;
}

.side-text ul li {
  margin-bottom: 10px;
}

.card-box {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap */
  justify-content: center; /* Center align items horizontally */
}

.cards {
  width: calc(50% - 40px); /* Adjust card width to display 2 cards per row */
  max-width: 300px; /* Limit card width */
  height: 300px;
  color: black;
  background-color: #FFBF00;
  border-radius: 5px;
  margin: 20px;
  text-align: center;
  transition: background-color 0.3s;
  border: 0.5px solid #111;
}

.cards:hover {
  box-shadow: 3px 3px 3px grey;
}

.cards-texts {
  padding-left: 50px;
  padding-top: 10px;
  font-size: 20px;
}

.lottie-icons {
  width: 90px;
  padding-left: 100px;
}

.suppoters-title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 90px;
}

.suppoters-logo {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap */
  justify-content: center; /* Center align items horizontally */
  margin: 10px;
}

.suppoters-logo img {
  width: 200px;
  margin: 10px; /* Add margin between logos */
}

@media screen and (max-width: 768px) {
  .text-container {
    flex-direction: row; /* Display items horizontally on larger screens */
  }

  .main-text,
  .side-text {
    flex: 1;
    font-size:15px;
     
  }
  .lottie-icons{
    width:45px;
    padding-left: 1px;
  }
  .cards-texts{
    font-size:15px;
  }
  .text-title{
    font-size:30px;
  }
  .list-name{
    font-size:30px;
  }
  .btn-early{
    font-size:14px;
  }
  .cards{
    font-size:10px;
  }
}